<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="beer.unacceptable.unacceptablehealth">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/wheelchairguy"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/wheelchairguy"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Screens.DebugTool"
            android:label="@string/title_activity_debug_tool"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Screens.WorkoutComplete"
            android:label="@string/title_activity_workout_complete"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Screens.PerformWorkout"
            android:label="@string/title_activity_perform_workout"
            android:parentActivityName=".Screens.ViewWorkoutPlan"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="beer.unacceptable.unacceptablehealth.Screens.ViewWorkoutPlan" />
        </activity>
        <activity
            android:name=".Screens.ViewWorkoutPlan"
            android:label="@string/title_activity_view_workout_plan"
            android:parentActivityName=".Screens.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="beer.unacceptable.unacceptablehealth.Screens.MainActivity" />
        </activity>
        <activity
            android:name=".Screens.AddExercise"
            android:label="@string/title_activity_add_exercise"
            android:parentActivityName=".Screens.BaseActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="beer.unacceptable.unacceptablehealth.Screens.BaseActivity" />
        </activity>
        <activity
            android:name=".Screens.GoalList"
            android:label="@string/title_activity_goal_list_scrolling"
            android:parentActivityName=".Screens.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="beer.unacceptable.unacceptablehealth.Screens.MainActivity" />
        </activity>
        <activity
            android:name=".Screens.ViewGoal"
            android:label="@string/title_activity_view_goal"
            android:parentActivityName=".Screens.GoalList"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="beer.unacceptable.unacceptablehealth.Screens.MainActivity" />
        </activity>
        <activity
            android:name=".Screens.CreateGoal"
            android:label="@string/title_activity_create_goal"
            android:parentActivityName=".Screens.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="beer.unacceptable.unacceptablehealth.Screens.MainActivity" />
        </activity>
        <activity
            android:name=".Screens.SingleItemList"
            android:label="@string/title_activity_workout_type_list"
            android:parentActivityName=".Screens.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="beer.unacceptable.unacceptablehealth.Screens.MainActivity" />
        </activity>
        <activity
            android:name=".Screens.ExerciseDatabase"
            android:label="@string/title_activity_exercise_database"
            android:parentActivityName=".Screens.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="beer.unacceptable.unacceptablehealth.Screens.MainActivity" />
        </activity>
        <activity android:name=".Screens.BaseActivity" />
        <activity
            android:name=".Screens.Settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".Screens.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="beer.unacceptable.unacceptablehealth.Screens.MainActivity" />
        </activity>
        <activity
            android:name=".Screens.DailyLogList"
            android:label="@string/title_activity_daily_log_list"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".Screens.MainActivity"/>
        <activity
            android:name=".Screens.ViewDailyLog"
            android:label="@string/title_activity_view_daily_log"
            android:parentActivityName=".Screens.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="beer.unacceptable.unacceptablehealth.Screens.MainActivity" />
        </activity>
        <activity
            android:name=".Screens.FoodDatabase"
            android:label="@string/title_activity_food_database"
            android:parentActivityName=".Screens.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="beer.unacceptable.unacceptablehealth.Screens.MainActivity" />
        </activity>
        <activity
            android:name=".Screens.ViewRecipe"
            android:label="@string/title_activity_view_recipe"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".Screens.RecipeList"/>
        <activity
            android:name=".Screens.RecipeList"
            android:label="@string/title_activity_recipe_list"
            android:parentActivityName=".Screens.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="beer.unacceptable.unacceptablehealth.Screens.MainActivity" />
        </activity>
        <activity
            android:name=".Screens.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.unacceptable.unacceptablelibrary.Screens.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme" />

        <receiver
            android:name=".Receivers.DailyLogAlarmReceiver"
            android:enabled="true" />
        <receiver
            android:name=".Receivers.BootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>